{# templates/task/new.html.twig #}

{% for message in app.flashes('success') %}
 <div class="alert alert-success" role="alert">
  {{ message }}
 </div>
{% endfor %}

{{ form_start(form, {'action': path('rating_add'), 'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="submit-bar">
        <button type="submit" class="btn btn-primary btn-square">Envoyer mon commentaire</button>
    </div>
{{ form_end(form) }}