/* Mocked izidore structure */

.main-container {
	width: 1231px;
	margin: auto;
	border-radius: 2px;
	box-shadow: 0px 3px 11px #cec9c9;
	background: url('../../images/izidore-product-header.png') no-repeat;
	padding-top: 545px;

	font-family: RobotoSlab-Light, sans-serif;
	font-size: .95rem;
	font-weight: 400;
	line-height: 1.5;
	color: #29362e;
	text-align: left;
}

.main-container * {
	box-sizing: border-box;
}

.main-container-content {
	display: flex;
	background: #fff;
	padding-bottom: 40px;
}

.main-container-product-sidebar {
	width: 436px;
	height: 773px;
	background: url('../../images/izidore-product-sidebar.png') no-repeat;
}

.tabs-container {
	background: url('../../images/izidore-product-tabs-bg.png') no-repeat;
	width: 795px;
	padding-top: 30px;
}

.main-container-footer {
	width: 1231px;
	height: 2092px;
	background: url('../../images/izidore-product-footer.png');
}

.main-container-product-listing {
	width: 777px;
	height: 1076px;
	background: url('../../images/izidore-product-products-listing.png');
}
