html {
	background: #ebebeb;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-weight: normal;
}

.sr-only {
	display: none; /* TODO: use real one from Bootstrap instead */ 
}

/* BTN from izidore */

.btn {
    -webkit-appearance: none;
    border-radius: 22.5px;
    border: 2px solid #ffd932;
        border-top-color: rgb(255, 217, 50);
        border-right-color: rgb(255, 217, 50);
        border-bottom-color: rgb(255, 217, 50);
        border-left-color: rgb(255, 217, 50);
    background-color: #ffd932;
    color: #29362e;
    display: inline-block;
    line-height: 40px;
    height: 45px;
    padding: 0 22.5px;
    font-size: 1rem;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Poppins-SemiBold;
    box-shadow: 1px 1px 3px #f7f7f7;
}

.btn-primary {
	display: block;
	height: 40px;
	line-height: 38px;
	background-color: #27b48e;
	border-color: #27b48e;
	color: #fff;	
}

.btn-primary:hover {
	background-color: #fff;
	border-color: #aad9c5;
	color: #469070;
}

.btn.btn-square {
    border-radius: 4px;
}

