/* Star rating */

.jsstarrating {
	display: inline-flex;
}

.jsstarrating span {
	display: inline-block;
	background: #efefef;
	width: 20px;
	height: 20px;
	color: transparent;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position:  0 50%;
	background-size: 20px;
	background-color: transparent;
}

.jsstarrating:hover span {
	background-image: url('../../images/icons/star-full.svg');
}

.jsstarrating span,
.jsstarrating span:hover ~ span {
	background-image: url('../../images/icons/star-empty.svg');
}

.jsstarrating.rating-1 span:nth-child(1),
.jsstarrating.rating-2 span:nth-child(1),
.jsstarrating.rating-2 span:nth-child(2),
.jsstarrating.rating-3 span:nth-child(1),
.jsstarrating.rating-3 span:nth-child(2),
.jsstarrating.rating-3 span:nth-child(3),
.jsstarrating.rating-4 span:nth-child(1),
.jsstarrating.rating-4 span:nth-child(2),
.jsstarrating.rating-4 span:nth-child(3),
.jsstarrating.rating-4 span:nth-child(4),
.jsstarrating.rating-5 span:nth-child(1),
.jsstarrating.rating-5 span:nth-child(2),
.jsstarrating.rating-5 span:nth-child(3),
.jsstarrating.rating-5 span:nth-child(4),
.jsstarrating.rating-5 span:nth-child(5) {
	background-image: url('../../images/icons/star-full.svg');
}
