/* Rating stars */

.rating-stars {
	display: flex;
}

.rating-stars:before {
	background: url('../../images/icons/star-full.svg') repeat-x 0 50%;
}

.rating-stars:after {
	background: url('../../images/icons/star-empty.svg') repeat-x 0 50%;
	opacity: .6;
}


/* Default size */

.rating-stars:before,
.rating-stars:after {
	content: '';
	display: block;
	height: 20px;
	background-size: 20px;
}

.rating-stars.rating-0:before { width: 0; }
.rating-stars.rating-0:after { width: 100px; }

.rating-stars.rating-1:before { width: 20px; }
.rating-stars.rating-1:after { width: 80px; }

.rating-stars.rating-2:before { width: 40px; }
.rating-stars.rating-2:after { width: 60px; }

.rating-stars.rating-3:before { width: 60px; }
.rating-stars.rating-3:after { width: 40px; }

.rating-stars.rating-4:before { width: 80px; }
.rating-stars.rating-4:after { width: 20px; }

.rating-stars.rating-5:before { width: 100px; }
.rating-stars.rating-5:after { width: 0; }


/* Big size */

.rating-stars.rating-stars-big:before,
.rating-stars.rating-stars-big:after {
	content: '';
	display: block;
	height: 30px;
	background-size: 30px;
}

.rating-stars.rating-stars-big.rating-0:before { width: 0; }
.rating-stars.rating-stars-big.rating-0:after { width: 150px; }

.rating-stars.rating-stars-big.rating-1:before { width: 30px; }
.rating-stars.rating-stars-big.rating-1:after { width: 120px; }

.rating-stars.rating-stars-big.rating-2:before { width: 60px; }
.rating-stars.rating-stars-big.rating-2:after { width: 90px; }

.rating-stars.rating-stars-big.rating-3:before { width: 90px; }
.rating-stars.rating-stars-big.rating-3:after { width: 60px; }

.rating-stars.rating-stars-big.rating-4:before { width: 120px; }
.rating-stars.rating-stars-big.rating-4:after { width: 30px; }

.rating-stars.rating-stars-big.rating-5:before { width: 150px; }
.rating-stars.rating-stars-big.rating-5:after { width: 0; }
