/* Sidebar */


.main-container-product-sidebar {
	position: relative;
}

.seller-container {
	position: absolute;
	top: 37px;
	left: 52px;
	height: 65px;
	width: 330px;
	padding-left: 80px;
	font-weight: bold;
	color: #58b58d;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
