/* Tabs */

.tab-buttons {
	list-style: none;
	padding: 0;
	text-align: center;
}

.tab-buttons a {
	text-decoration: none;
}

.tab-buttons li {
	display: inline-block;
}

.tab-buttons a,
.tab-buttons li {
	color: #444a47;
}

.tab-buttons a {
	border-bottom: 1px solid transparent;
	padding: 0 10px 6px;
	margin: 0 12px;
}

.tab-buttons a.active {
	font-weight: bold;
	border-bottom-color: black;
	color: #000;
}

.tab-content {
	padding: 0 34px 0 17px;
	display: none;
}

.tab-content.active {
	display: block;
}
