/* Comment tab */

.comment-container {
	font-size: 13px;
	position: relative;
}

.comment-container + .comment-container {
	margin-top: 34px;
}

.comment-name {
	font-weight: bold;
}

.comment-date {
	position: absolute;
	top: 0;
	right: 0;
}


/* Comment form new */

.comment-new {
	padding-bottom: 17px;
	margin-bottom: 17px;
	border-bottom: 1px solid #efefef;
}

.comment-new label {
	display: block;
	margin: 10px 0 10px;
}

.comment-new textarea {
	width: 100%;
	min-height:  50px;
	border: 1px solid #aaa;
}

.comment-new .submit-bar {
	text-align: right;
	margin-top: 10px;
}
