{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

<h1>
    Test rating
</h1>

<div class="main-container">
    <div class="main-container-content">
        <div class="main-container-product-sidebar">
            <div class="seller-container">
                <div class="seller-name">
                    Emma
                </div>
                <div class="seller-rating rating-stars rating-stars-big rating-{{ avg }}">
                    <span class="sr-only">Note&nbsp;: {{ avg }}</span>
                </div>
            </div>
        </div>
        <div class="tabs-container">
            <ul class="tab-buttons">
                <li><a href="#tab1" class="active">Produits</a></li>
                <li><a href="#tab2">Evaluations ({{ comments_total }})</a></li>
            </ul>
            <div id="tab1" class="active tab-content main-container-product-listing"></div>
            <div id="tab2" class="tab-content">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="comment-new">
                        <h2>Noter votre dernier achat</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Soluta, nihil ad sequi omnis, quo aspernatur porro laborum voluptate minima quisquam non a repellendus at corrupti inventore, voluptates. Laudantium, et ut.</p>
                        {{ render(controller('App\\Controller\\RatingController::new')) }}
                    </div>
                {% endif %}

                {% for comment in comments|reverse %}
                <div class="comment-container">
                    <div class="comment-name">{{ comment.user.email }}</div>
                    <div class="comment-rating rating-stars rating-{{ comment.rating }}"><span class="sr-only">Note:&nbsp;{{ comment.rating }}</span></div>
                    <div class="comment-content">{{ comment.comment }}</div>
                    <div class="comment-date">{{ comment.createdAt|date("d/m/Y") }}</div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="main-container-footer"></div>
</div>

{#% if app.debug %}
<p>Request method: {{ app.request.method }}</p>
<p>Application Environment: {{ app.environment }}</p>
{% endif %#}

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('/js/lib/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/tabs.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/star-rating.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/app.js') }}"></script>
{% endblock %}
